.icon-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-circle img {
  width: 50px;
  height: 50px;
}

.footer-section {
  padding: 50px 0;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.links-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.showed-content {
  height: 100%;
  width: 100%;
}

.showed-content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.showed-content::before {
  content: '';
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 1, 1, 0.63);
  /* Black with 50% opacity */
  z-index: 0.5;
  /* Ensures the overlay is on top */
}

.showed-content h4,
.showed-content p,
.showed-content a {
  position: relative;
  z-index:  1;
}
.btn{
  background-color: #fbd00e;
  color: #000 !important;
}
.nav-link {
  background-color: #fbd00e; 
  color: white; 
  border-radius: 10%;
}
.icon-circle {
  overflow: hidden; 
}

.icon-circle img {
  object-fit: cover;
}
.whowecontent p span{
  font-size: 30px;
  font-weight: 600;
}
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: whitesmoke;
}

.navbar-nav li a {
  color: whitesmoke;
}

.navbar-nav li a.active {
  font-weight: bold;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.navbar-brand img {
  height: 50px;
}

.navbar-collapse {
  transition: height 0.5s ease;
}

.navbar-collapse.show {
  height: auto;
}
.dropdown-menu {
  max-height: 300px; 
  overflow-y: auto;
  scroll-behavior: smooth;
}